/*start Navbar*/

 /* Googlefont Poppins CDN Link */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   transition: 0.5s;
  
 }
 *{
    transition: 0.5s;
    
 }
:root {
    --pramary: #f94f2f;
    --secondary: green;
    --third: white;
  }

.menu a{
    text-decoration: none;
    color: var(--third);

}
.menu ul{
list-style-type: none;
}
 .menu{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
   max-width: 1500px;
   width: 100%;
   
   margin: auto;
   /* background: red; */
   
  
   background: var(--pramary);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   height: 70px;
   

}

 .menu   .menu-item-type-post_type, .current-menu-item{
    padding: 5px 30px;
    color: var(--third);
    height: 100%;
    display: flex;
    align-items: center;
    

}
.menu h2{
    display: none;
}
#closeBtn{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 10px;
    padding: 10px;
    background-color: red;
}
#menuSympol{
    margin: 10px;
    cursor: pointer;
}
#MobileHome{
    margin: 10px;
}
.menu .menu-item-has-children{
    position: relative;
      display: inline-block;
      display: flex;
    align-items: center;
    }
    .menu > i{
        display: none;
        cursor: pointer;
    }

    .menu .menu-item-has-children i{
        margin-left: 7px;
    }
    .menu  .menu-item-has-children:hover i{
        transform: rotate(180deg);
        transition: 0.3s;
    }

    .menu  .menu-item-has-children .sub-menu li{
        color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      direction: rtl;
        
    }




 .menu  > .menu-item-type-post_type:hover, .current-menu-item:hover{
    background-color: var(--secondary);
}
 
 .menu  .menu-item-has-children .sub-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    top: 70px;
    right: 0px;

}

.menu  .menu-item-has-children .sub-menu li  a{
    display: flex;
    flex-direction: row;
}
 .menu  .menu-item-has-children .sub-menu li a{
    color: var(--pramary);
}
 .menu  .menu-item-has-children .sub-menu li:hover{
    background-color: var(--secondary);
    
}

 .menu  .menu-item-has-children .sub-menu li:hover a{
    color: var(--third);
}

 .menu .menu-item-has-children:hover .sub-menu {
    display: block;
}
 .menu .menu-item .menu-item-type-post_type .sub-menu .menu-item{
    z-index: 1;
    
}
 .menu  .menu-item-type-post_type .sub-menu:hover{
    display: block;

}


.articleclass .bypostauthor {
    position: relative;
    
}
.articleclass .bypostauthor::after{
    content: 'كاتب المقال';
    top: 10px;
    right: 10px;
    color: aquamarine;
    position: absolute;
    background-color: #f9f9f9;

}


/* start Query */ 
@media(max-width: 1025px) {
  
    .ClassContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: red;
        height: 28px;
       }
    
     .menu h2{
         margin: 0px 50px;
         display: flex;
     }
     .menu #closeBtn{
         
         top: 0 px;
         left: 0px;
         margin: 10px;
     }
     .menu{
        
         position: fixed;
         top: 0;
         right: -100%;
         display: block;
         max-width: 270px;
         width: 250px;
         background: #3E8DA8;
         line-height: 40px;
         
         box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
         transition: all 0.5s ease;
         z-index: 5;
         
         height: auto;
     
     }
     .menu   .menu-item-type-post_type, .current-menu-item{
         padding: 5px 10px;
        
         margin: 5px 43px;
         display: flex;
         flex-direction: column;
         
         
     
     }
     .menu .menu-item-has-children{
         position: relative;
           
           
         
         }
 
     .menu .menu-item-has-children i{
         margin-right: 20px;
         padding-right: 6px;
         cursor: pointer;
         position: absolute;
         left: -62px;
     }
     .menu  .menu-item-has-children .sub-menu li{
        
     padding: 0px 0px;
     
     display: flex;
     
     margin: 5px;
     flex-direction: row;
     
     border-bottom: 1px solid #f19999;
     
         
     }
     .menu  .menu-item-has-children .sub-menu{
        display: none;
        position: relative;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0px;
        top: 0px;
        right: 0px;
    
    }
    .menu  .menu-item-has-children:hover i{
        transform: rotate(0deg);
        
    }
  
 } /* end Query */
 
/* end Navbar*/